// Content

.project-tags {
  display: inline-block;
  width: auto;
  margin-bottom: 20px;

  span {
    padding: 4px 8px;
    display: inline-block;
    color: $d1;
    margin: 0 16px 8px 0;
    border-radius: 4px;
    background: $d2;
    font-size: 16px;
    line-height: 24px;
  }
}

.project-description {
  font-size: 24px;
    line-height: 44px;
}

.layout-treatment {
  display: inline-block;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;

  @media (min-width: $bp-landscape) {
    margin: 0 -20px; 
    width: calc(100% + 40px);
  }

  &.full-content-break {
    background: $m1;
    color: $color-white;

    @media (min-width: $bp-full) {
        width: initial;
        margin: 32px -24%;
        padding: 64px 20px;
    }
  }

  &.half-width {
    width: calc(100% + 40px);
    margin: 0 -20px 32px;
    text-align: center;

    @media (min-width: $bp-full) {
      width: calc(100% + 200px);
      margin: 32px -100px;
    }

    >div {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      float: left;
      margin-bottom: 32px;

      @media (min-width: $bp-landscape) {
        width: 50%;  
        padding: 0 20px;
      }
    }

    img, iframe {
      width: 100%;
      box-sizing: border-box;
      margin: 8px;
      margin-bottom: 16px;
      box-shadow: 0px 0px 8px 0px rgba($d1,0.15);
    }

    .caption {
      width: 100%;
      max-width: 960px;
      width: calc(100% - 40px);

      @media (min-width: $bp-full) {
        width: calc(100% - 200px);
      }
    }
  }

  &.extended-image {
    width: calc(100% + 40px);
    margin: 0 -20px 32px;
    text-align: center;

    @media (min-width: $bp-full) {
      width: calc(100% + 200px);
      margin: 32px -100px;
    }

    img, iframe {
      width: calc(100% - 16px);
      margin: 8px;
      margin-bottom: 16px;
      box-shadow: 0px 0px 8px 0px rgba($d1,0.15);
    }

    .caption {
      width: 100%;
      max-width: 960px;
      width: calc(100% - 40px);

      @media (min-width: $bp-full) {
        width: calc(100% - 200px);
      }
    }
  }

  &.outlined-image {

        img {
      border: 1px solid #eaeaea;

    }

  }

   &.reduced-image {
    width: 100%;
    margin: 0 auto 32px;
    text-align: center;

    img {
      width: 100%;

      @media (min-width: $bp-portrait) {
        width: 50%;
        margin: 20px auto;
      }
    }
  }
}

.page-title {
  border-bottom: 4px solid $m1;
  margin-bottom: 32px;
}

.action-area {
  display: inline-block;
  width: 100%;
  border-top: 4px solid $m1;
  padding: 32px 0;
  margin: 32px 0;
  float: left;

  @media (min-width: $bp-portrait) {
    margin: 44px 0 0;
  }
}

.project-point {
  display: flex;
  flex-flow: column;
  width: 50%;
  position: relative; 
  float: left;

  &.prev {
    text-align: left;

    i {
      padding-right: 8px;

      @media (min-width: $bp-portrait) {
        padding-right: 16px;
      }
    }
  }

  &.next {
    text-align: right;

    i {
      padding-left: 8px;

      @media (min-width: $bp-landscape) {
        padding-left: 16px;
      }
    }
  }

  a {
    cursor: pointer;
    display: inline-block;
    clear: both; 
    width: auto;
  }

  h3 {
    color: $m1;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    color: $m1;
    line-height: 32px;
    font-size: 16px;

    @media (min-width: $bp-landscape) {
      font-size: 28px;
      margin-bottom: 16px;
    }
  }

  p {
    display: none;

    @media (min-width: $bp-landscape) {
      display: inline-block;
    }
  }
}

.caption {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  margin: 0 20px;
  opacity: .75;
  text-align: center;
}

section {
  display: block;
  overflow: auto;
  overflow-x: hidden;

  &.main-column {
    padding: 0 20px;
    padding-bottom: 64px;
  }

  &.preview-column {
    padding: 0 20px;

    .inner {
      max-width: 1200px;
      margin-bottom: 0;
    }
  }
}

.inner {
  display: block;   
  position: relative;
  margin: 0 auto 128px;

  @media (min-width: $bp-landscape) {
    max-width: 960px;
  }

  .main-column & {
    margin-bottom: 0;
  }
}

article {
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 0;
  }
}

header {
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 16px 20px;
}

.return {
  display: inline-block;
  position: fixed;
  font-family: icomoon;
  top: 32px;
  left: 32px;
  height: 48px;
  background: $m1;
  width: 48px;
  border-radius: 100%;
  color: $color-white;
  text-align: center;

  &:hover {
    background: darken($m1, 5%);
    color: $color-white;
  }

  &:before {
    content: "\e900";
    line-height: 48px;
    display: inline-block;
  }
}  


.icon-heart {
  color: $m1;
    font-family: icomoon;

    &:before {
    content: "\e9da";
    display: inline-block;
  }
}

#footer {
  padding: 0 20px;

  .inner {
    border-top: 4px solid $m1;
    padding-top: 64px;

    @media (min-width: $bp-landscape) {
      padding-top: 128px;
      max-width: 1200px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      margin-right: 12px;
      display: inline-block;
      float: left;

      &:after {
        content: '/';
        margin-left: 12px;
      }

      &:last-child {

        &:after {
          display: none;
        }
      }
    }
  }

/*  a {

    &:before {
      font-family: icomoon;
      margin-right: 10px;
    }


    &.resume-link {

      &:before {
      content: "\e902";
      }

    }

    &.github-link {

            &:before {
      content: "\e900";
      }

    }

    &.linkedin-link {

            &:before {
      content: "\e900";
      }

    }
  }*/

  .footer-content {
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;

    @media (min-width: $bp-landscape) {
      flex-flow: nowrap row;
    }
  }

  .contact-component,  .info-component, .social-component {
    display: inline-block;
    width: 100%;
    margin-bottom: 32px;

    @media (min-width: $bp-landscape) {
      text-align: left;
      width: 45%;
      margin-bottom: 0;
    }
  }
}

.button {
  font-size: 18px;
  line-height: 24px;  
  padding: 8px 16px;
  border-radius: 4px;
  background: $m1;
  display: inline-block;
  width: auto;
  text-align: center;
  color: $color-white;
  transition: .2s all;
  margin: 0 5px;
  font-family: $serif;
  font-weight: bold;

  &:focus {
    outline: none;
  }

  &:hover {
    background: darken($m1, 5%)
  }
}

.alert {
  background: $d2;
  border-radius: 32px;
  display: inline-block;
  clear: both;
  padding: 4px 16px;
}
