// SCSS HTML 


/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/josefin/josefin-sans-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'),
       url('../assets/fonts/josefin/josefin-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/josefin/josefin-sans-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/josefin/josefin-sans-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/josefin/josefin-sans-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/josefin/josefin-sans-v14-latin-regular.svg#JosefinSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/open-sans/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../assets/fonts/open-sans/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/open-sans/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/open-sans/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/open-sans/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/open-sans/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/open-sans/open-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../assets/fonts/open-sans/open-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/open-sans/open-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/open-sans/open-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/open-sans/open-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/open-sans/open-sans-v17-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon/fonts/icomoon.eot?5qr6y9');
  src:  url('../assets/fonts/icomoon/fonts/icomoon.eot?5qr6y9#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon/fonts/icomoon.ttf?5qr6y9') format('truetype'),
    url('../assets/fonts/icomoon/fonts/icomoon.woff?5qr6y9') format('woff'),
    url('../assets/fonts/icomoon/fonts/icomoon.svg?5qr6y9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: $bodyfill; 
  font-family: $sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  color: $d1; 
  overflow-x: hidden;   
  box-sizing: border-box;
  font-size: 22px;
  line-height: 44px;

  &:before {
    content: '';
    background: $bodyfill;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s all;
    opacity: 1;
    z-index: 3;

  }

  &.pace-done {

    &:before {
      opacity: 0;
      pointer-events: none;
    }
  }
} 

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: $sans-serif;
  color: $d1;
  display: block;
  width: auto;
}

h1 {
  font-size: 48px;
  line-height: 64px;
  position: relative;
  margin-bottom: 32px;
  font-family: $serif;
}

h2 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 32px;
  letter-spacing: .5px;
  font-family: $serif;
}

h3 {
  color: $d1;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 32px;
  font-family: $serif;
}

h4 {
  font-family: $sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 28px;  
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: $d1;
}

h5 {
  font-family: $sans-serif;
  text-transform: uppercase;
  color: red;
  letter-spacing: .25px;
  margin-bottom: 28px;  
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

p {
  margin-bottom: 32px;  
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }

  &.callout {
    font-size: 36px;
    line-height: 52px;
    font-family: $serif;
  }
}

a {
  text-decoration: none;  
  font-weight: 600;
  color: $m1;  

  &:hover {
    color: $m2;
  } 

  >h1, >h2, >h3, >h4, >h5, >h6 {
    color: $m1;  

    &:hover {
      color: $m2;
    } 
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

video {
  display: none;
  //margin-bottom: 64px;

  @media (min-width: $bp-desktop-l) {
    display: block;
  }
}

hr {
  margin-bottom: 40px;
}

li {
  margin-bottom: 16px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);

  -webkit-transition: -webkit-transform .5s ease-out;
  -ms-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  z-index: 5;
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: .3s all;
}

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: $m1;
  pointer-events: none;
}


